{% extends 'shop/basic.html' %}

{% block title %} SZ Cart! {% endblock %}

{% block css %}
      .col-md-3 {
            display: inline-block;
            margin-left: -4px;
        }

        .col-md-3 {
            width: 100%;
            height: auto;
        }

        body .carousel-control-indicator li {
            background-color: blue;
        }

        body .carousel-control-prev-icon body .carousel-control-next-icon {
            background-color: blue;
        }

        .carousel-control-prev,
        .carousel-control-next{
          top: auto;
          bottom: auto;
          padding-bottom: 100px;
        }

.col-md-3 img{

  height:255px;
  width:auto;
  object-fit:contain;

  }

    .card{
         height:450px;
  width:auto;
}

        body .no-padding {
            padding-left: 0;
            padding-right: 0;
        }


        .carousel-control-prev-icon {
            background: black no-repeat center center;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
        }

        .carousel-control-next-icon {
            background: black no-repeat center center;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");

        }
        body .carousel-indicators{
        bottom:0;
        }



        .carousel-indicators .active{
        background-color: blue;
        }

        .col-md-3 img{
          width:275px;
          height:255px;
        }


{% endblock %}




{% block body %}
{% load static %}
<div class="container">

  <!-- Slideshow is here-->
  {% for product, range, nSlides in allProds %}
  <h5 class="my-4">Flash Sale on : {{product.0.category}} - Recommended Items</h5>

  <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel slide my-3">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

      {% for i in range %}

      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
      {% endfor %}
    </ul>


    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src='/media/{{product.0.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{product.0.product_name}}</h5>
              <p class="card-text">{{product.0.desc|slice:"0:50"}}........</p>
                <button id="{{product.0.product_id}}" class="btn btn-primary cart">Add to Cart!</button>
                                <a href="/shop/products/{{product.0.product_id}}"> <button id="{{product_id}}" class="btn btn-primary cart">Quick view!</button></a>

            </div>
          </div>
        </div>

        {% for i in product|slice:"1:" %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card align-items-center" style="width: 18rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{i.product_name}}</h6>
              <p class="card-text">{{i.desc|slice:"0:50"}}......</p>
              <span id="divpr{{i.product_id}}">
              <button id="{{i.product_id}}" class="btn btn-primary cart">Add to Cart!</button>
              </span>
                <a href="/shop/products/{{i.product_id}}"> <button id="{{qv.product_id}}" class="btn btn-primary cart">Quick view!</button></a>
              
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item">
      {% endif %}

      {% endfor %}


      </div>

    </div>
</div>
{% endfor %}

</div>
{% endblock %}


{% block js %}
    <script>
      updateCart(cart)
        console.log('working')
        if(localStorage.getItem('cart')==null){
            var cart={};
        }
        else{

            cart=JSON.parse(localStorage.getItem('cart'));
            document.getElementById('cart').innerHTML=Object.keys(cart).length;
        }
      $('.cart').click(function(){

    console.log('clicked');
    var idstr= this.id.toString();
    console.log(idstr);
    if(cart[idstr]!= undefined) {
        cart[idstr] = cart[idstr]+1;
    }
    else{
        cart[idstr] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart',JSON.stringify(cart));
});
$('#popcart').popover();
document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');


function updateCart(cart){
  for (var item in cart) {
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    console.log(cart);
}

    </script>
{% endblock %}
